.messageBox {
    background-color: #c9ddf3;
    padding: 10px;
    position: fixed;
    bottom: 3px;
    width: 97%;
    border-radius: 30px;
    margin: auto;
}
.text {
    width: 90%;
    background-color: #c9ddf3;
    border-color: #c9ddf3;
    font: 20px arial, sans-serif;
    border: none;
    resize: none;
    outline: none;
    overflow: auto;
    
}